body{
    background-color: #2b183d;
    text-shadow: 1px 1px 1px #320a00;
}
h1 {
    text-align: center;
}

.vue {
    color: #4fc08d;
}

.node {
    color: #026e00;
}

.database {
    color: #7fc857;
}

.es6{
    color: #f5da55
}
.babel{
    color: #f5da55
}
.webpack{
    color: #2086d7
}